.main{
    color: black;
}

.container{
    display: grid;
    grid-auto-flow: row;
    grid-template-areas:
    "contact header"
    "contact main"
    "contact footer"
}

.header{
    grid-area: header;
}

.main{
    grid-area: main;
}

.contact{
    grid-area: contact;

    justify-self: stretch;
    /*align-content: center;*/

    background-color: green;
}

.footer{
    grid-area: footer;
    justify-self: center;
}

/*nav bar*/
.nav-unorderedList {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 1.5rem;
    align-items: center;
    gap: 1rem;
    flex: 1 75px;
    grid-area: header;
}