
.container {
    display: grid;
    grid-auto-flow: row;
    grid-template-areas:
        "sideNav mcontent";
    background-color: antiquewhite;
}

.test {
    grid-area: mcontent;
    color: black;
    background-color: red;
}
