
.container {
    display: grid;
    grid-auto-flow: row;
    grid-template-areas:
        "sideNav mainContent";
    grid-auto-columns: 15% 85%;
    background-color: midnightblue;
}

.mainContent {
    grid-area: mainContent;

    /* width: max-content; */
    width:100%;

    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: red; */
}

.text {
    color: white;
    padding: 1rem;
}
